{{ define "footerfiles" }}
{{ end }}
{{ define "main" }}

{{range (where .Site.RegularPages "Type" "==" "posts")}}
  <div class="mb3 pa4 mid-gray overflow-hidden">
    {{ if .Date }}
      <div class="f6">
        {{ .Date.Format "2 January 2006" }}
      </div>
    {{ end }}
    <h1 class="f3 near-black">
      <a href="{{ .Permalink }}" class="link black dim">
        {{ .Title }}
      </a>
    </h1>
    <div class="nested-links f5 lh-copy nested-copy-line-height">
      {{ .Content  }}
    </div>
  </div>
{{end}}

{{ end }}
