{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <link rel="stylesheet" href="/doc/components/faq-template/css/style.css"> <!-- Resource style -->
  <style>
    ul.cd-faq-categories, ul.cd-faq-group {
        list-style: none;
    }
    header {
        background-color: initial;
        text-align: initial;
        line-height: initial;
        height: initial;
    }
    header h1 {
        color: initial;
        font-weight: bold;
    }
    .cd-faq {
        width: initial;
        max-width: initial;
    }
    .cd-faq-content li, .cd-faq-content code {
        font-size: 0.875rem;
        line-height: 1.4;
        color: #6c7d8e;
    }
    section.cd-faq {
        margin: 0;
    }
  </style>
  <script>
    function open_current_anchor() {
      let element = document.getElementById(location.hash.substring(1));
      if (element && element.parentNode) {
        element.parentNode.click();
      }
    }
    window.addEventListener("load", open_current_anchor)
    window.addEventListener("hashchange", open_current_anchor)
  </script>
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        <p class="f6 b helvetica tracked">
          {{ humanize .Section | upper  }}
        </p>
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
        <section class="cd-faq">
	  <ul class="cd-faq-categories">
            {{ $headers := findRE "<h3.*?>(.|\n])+?</h3>" .Content }}
            {{ $first := true }}
            {{ range $headers }}
              {{ $header := . }}
	      <li>
                <a class="{{ if $first }}{{ $first := false }}selected{{ end }}"
                   href="#{{ ($header | plainify | htmlEscape | urlize) }}">
                  {{ $header | plainify | htmlEscape }}
                </a>
              </li>
            {{end}}
	  </ul>
          <div class="cd-faq-items">
            {{ (substr (.Content | replaceRE "<h3 id=\"([^\"]*)\">" "</div></li></ul><ul id=\"$1\" class=\"cd-faq-group\"><li class=\"cd-faq-title\"><h2>"| replaceRE "</h3>[^<]*<h4 id=\"([^\"]*)\">" "</h2></li><li><a class=\"cd-faq-trigger\" href=\"#0\">" | replaceRE "<h4 id=\"([^\"]*)\">" "</div></li><li><a class=\"cd-faq-trigger\" href=\"#0\">" | replaceRE "</h4>" "</a><div class=\"cd-faq-content\">") 18 | safeHTML) }}
            </div></li></ul>
          </div>
        </section>
      </div>
    </article>
  </div>
  <script src="/doc/components/faq-template/js/jquery-2.1.1.js"></script>
  <script src="/doc/components/faq-template/js/jquery.mobile.custom.min.js"></script>
  <script src="/doc/components/faq-template/js/modernizr.js"></script>
  <script src="/doc/components/faq-template/js/main.js"></script>
{{ end }}
