{{ range (where (where .Site.RegularPages "Type" "==" "posts") ".Params.tags" "intersect" (slice "featured")) }}
  <article>
    <h4>
      <a target="_blank" href="{{ .Permalink | absURL }}">
        {{ .Title }}
      </a>
    </h4>
    {{ if .Date }}
      <p class="date">
        <small>{{ .Date.Format "2 January 2006" }}</small>
      </p>
    {{ end }}
  
    <div class="content">
      {{ .Content  }}
    </div>
  </article>
{{ end }}
