{{ define "main" }}
  <div class="pa3 pa4-ns w-100 w-70-ns center mid-gray">
    <h1 class="flex-none">
      <a href="blog/" class="link black dim">Last blog post</a>
    </h1>
    {{ range (where (where .Site.RegularPages "Type" "==" "posts") ".Params.tags" "intersect" (slice "featured")) }}
      <div class="mb3 pa4 overflow-hidden">
        {{ if .Date }}
          <div class="f6">
            {{ .Date.Format "2 January 2006" }}
          </div>
        {{ end }}
        <h2 class="f3 near-black">
          <a href="{{ .Permalink }}" class="link black dim">
            {{ .Title }}
          </a>
        </h2>
        <div class="nested-links f5 lh-copy nested-copy-line-height">
          {{ .Content  }}
        </div>
      </div>
    {{end}}
  </div>
  <article class="cf ph3 ph5-l pv3 pv4-l f4 lh-copy mid-gray">
    {{ .Content }}
  </article>
{{ end }}
